<div class="header">
  <div>
    <img class="logo" src="../../../../assets/MediaTracker-4-4-2025.png" />
  </div>
  <div class="nav-links">
    <a class="nav-link" routerLink="/">Home</a>
    <a class="nav-link" [routerLink]="isAuthenticated ? ['/watched'] : ['/login']">Watched List</a>
  </div>
  <mat-toolbar >
    <div class="search-bar-container">
      <input class="search" placeholder="Search" />
      <button class="search-btn" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </mat-toolbar>
    <div class="action-container">
      <a *ngIf="!isAuthenticated" class="action-btn" routerLink="/login">Login</a>
      <a *ngIf="isAuthenticated" class="action-btn" (click)="logout()">Logout</a>
    </div>
</div>
