.side-container {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 12%;
  background-color: grey;
  padding: 20px;
  padding-top: 80px;
}

.welcome{
    font-size:larger;
  margin:auto;
  margin-bottom:20px;
}

.option-list {
  padding: 0;
  list-style: none;
}

a{
    cursor:pointer;
}
