.side-container {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 12%;
  padding: 20px;
  padding-top: 80px;
  background: #919191;
  background: linear-gradient(180deg,rgba(145, 145, 145, 1) 0%, rgba(138, 129, 118, 1) 8%, rgba(82, 78, 68, 1) 50%, rgba(33, 33, 28, 1) 93%);
}

.welcome{
  font-size:larger;
  margin:auto;
  margin-bottom:20px;
}

.option-list {
    position:fixed;
    top:30%;
    width:calc(12% - 20px - 20px);
  padding: 0;
  list-style: none;
}

.option-link {
    color:white;
  text-decoration: none;
  cursor: pointer;
}

.option-link:hover{
    color:darkorange;
}
