
<div class="side-container">
  @if(!isAuthenticated){
  <div class="welcome"> Welcome Stranger!</div>
  } @else {
  <div class="welcome"> Welcome {{ username }}!</div>
  }

  <ul class="option-list">
    <li>
      <a class="option-link">Trending</a>
      <hr>
    </li>
    <li>
      <a class="option-link">Reviews</a>
      <hr>
    </li>
    <li>
      <a class="option-link">Watched</a>
      <hr>
    </li>
    <li>
      <a class="option-link">Backlog</a>
      <hr>
    </li>
    <li>
      <a class="option-link">Other</a>
    </li>
  </ul>
</div>
