
<div class="side-container">
  @if(!isAuthenticated){
  <div class="welcome"> Welcome Stranger!</div>
  } @else {
  <div class="welcome"> Welcome {{ username }}!</div>
  }

  <ul class="option-list">
    <li><a class="option-link">Trending</a></li>
    <hr width="100%">
    <li><a class="option-link">Reviews</a></li>
    <hr size="2">
    <li><a class="option-link">Watched</a></li>
    <hr width="100%" size="2">
    <li><a class="option-link">Backlog</a></li>
    <hr width="100%" size="2">
    <li><a class="option-link">Other</a></li>
  </ul>
</div>
