
.trending-container {
  margin: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 35px 17px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 35px 17px rgba(0,0,0,0.69);
}

.test {
  padding: 45px;
  border-radius:20px;
  -webkit-box-shadow: inset 0px 0px 45px 7px rgba(0,0,0,0.73);
  box-shadow: inset 0px 0px 45px 7px rgba(0,0,0,0.73);
}
.trending-title {
  text-align: left;
  color: black;
}

.poster-container{
    margin:40px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.poster {
    position:relative;
  transition: 0.1s;
  margin: 15px 0;
  width: 15rem;
  height: auto;
  cursor:pointer;
}

  .poster:hover {
    transform: scale(1.1);
    transition: 0.1s;
  }

  .poster img {
      height: 100%;
      width: 100%;
  }

  .icon{
      position: absolute;
      right: 1%;
  }
