
.about-container {
  padding: 20px;
  margin: 40px;
  border: 4px solid green;
  box-shadow: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 41px 8px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 0px 2px 41px 8px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px 2px 41px 8px rgba(0,0,0,0.75) inset;
}

.about-title {
  text-align: left;
  color: black;
}

.poster {
}

  .poster img {
    width: 15rem;
    height: auto;
    transition: 0.1s;
  }

.info-container {
  display: flex;
  margin: 15px 0;
}

  .info{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
    margin:9px 0 0 15px;
}

  .btn-group{

  }

  .backlog-btn{
      width:20%;
  }
